@* PageHmiFlow *@

@page "/hmis/flow/{FlowName}"
@using DsWebApp.Client.Pages.Controllers
@inherits CompHmiLoader

<CompHmiTagManager @ref="TagManager" OnLoaded="@(() => _tagManagerLoading=false)" />

@if (_myLoading || _loading || _tagManagerLoading)
{
    <p><em>Loading...</em></p>
}
else
{
    <CompModelCpuMonitor OnModelChanged="@(_ => StateHasChanged())"
                         OnCpuRunningStatusChanged="@(_ => StateHasChanged())" />

    <h3>Flow @FlowName</h3>
    <DxLoadingPanel Visible=@(ClientGlobal.ModelDsZipPath.IsNullOrEmpty() || !ClientGlobal.IsCpuRunning)
        Text="Wait CPU running..."
        IsContentBlocked="true"
        CssClass="w-100"
        ApplyBackgroundShading="true">
        <CascadingValue Name="TagManager" Value="@TagManager">
            <Lamp Text="Origin" Composite="@_flow.OriginLampMode"/>
            <ButtonLamp Text="Home" Composite="@_flow.HomePushLamp" />
            <CompHmiRealTable Reals="@_reals" />
            <CompHmiJobsInFlowTable System="@_system" Flow=@_flow/>
        </CascadingValue>
    </DxLoadingPanel>
}

@code {
    [Parameter] public string FlowName { get; set; }
    bool _myLoading = true;
    HMIFlow _flow;
    HMIReal[] _reals;
    bool _tagManagerLoading = true;
    public CompHmiTagManager TagManager { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await ClientGlobal.InitializeAsync(Http, NavigationManager, LocalStorage);
        _flow = _system.Flows.FirstOrDefault(f => f.Name == FlowName);
        _reals = _flow.Reals;
        _myLoading = false;
    }
}
