@* PageHmiAuto *@

@page "/hmis/auto"
<h3>자동 조작</h3>

@using System.Collections.ObjectModel
@using Engine.Core
@using static Engine.Core.TagWebModule
@using HMIButton = Tuple<Engine.Core.TagWebModule.TagWeb, Engine.Core.TagWebModule.TagWeb>  @* HMIPush * HMIFlickerLamp *@
@inherits CompHmiLoader
@implements IDisposable
@attribute [Authorize(Roles = "Administrator")]


@if (_loading)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>
        <CompWgtPb Text="Auto"     DataItem="@(_system.GetAuto())"     TagGetter="@_tagGetter" />
        <CompWgtPb Text="Manual"   DataItem="@(_system.GetManual())"   TagGetter="@_tagGetter" />

        <CompWgtPb Text="Ready"    DataItem="@(_system.ReadyPushLamp)"     TagGetter="@_tagGetter" />
        <CompWgtPb Text="Drive" DataItem="@(_system.DrivePushLamp)" TagGetter="@_tagGetter" />
        <CompWgtPb Text="Home" DataItem="@(_system.HomePushLamp)" TagGetter="@_tagGetter" />
        <CompWgtPb Text="Clear" DataItem="@(_system.ClearPushLamp)" TagGetter="@_tagGetter" />
        <CompWgtPb Text="Stop" DataItem="@(_system.StopPushLamp)" TagGetter="@_tagGetter" />
        <CompWgtPb Text="Em Stop" DataItem="@(_system.EmergencyPushLamp)" TagGetter="@_tagGetter" />
        <CompWgtPb Text="Test" DataItem="@(_system.TestPushLamp)" TagGetter="@_tagGetter" />
    </p>

    <CompHmiFlowTable Flows="@_system.Flows"/>
}


@code {
    TagWeb _tagGetter(object dataItem) => (TagWeb)dataItem;
    // protected override async Task OnInitializedAsync()
    // {
    //     await base.OnInitializedAsync();
    // }
    public void Dispose()
    {
        Console.WriteLine($"Disposing PageHmiAuto.razor");
    }
}