@* PageHmiAuto *@

@page "/hmis/auto"
<h3>자동 조작</h3>

@using System.Collections.ObjectModel
@using Dual.Web.Blazor.Client.Components
@using Engine.Core
@using static Engine.Core.TagWebModule
@using HMIButton = Tuple<Engine.Core.TagWebModule.TagWeb, Engine.Core.TagWebModule.TagWeb>  @* HMIPush * HMIFlickerLamp *@
@inherits CompHmiLoader
@implements IDisposable
@attribute [Authorize(Roles = "Administrator")]

@* https://supportcenter.devexpress.com/ticket/details/t1017286/datagrid-for-blazor-how-to-set-the-100-height *@
<CompFullScreenManager FullScreenElementId="auto" />      @* FullScreenStateChanged="@onFullScreenStateChanged" *@ 

@if (_loading)
{
    <p><em>Loading...</em></p>
}
else
{
    <div id="auto">
        <p>
        <WgtGridPbLamp Text="Auto"     DataItem="@(_system.AutoManualSelectLamp.Item1)" ButtonLampGetter="@_buttonLampGetter" />
        <WgtGridPbLamp Text="Manual"   DataItem="@(_system.AutoManualSelectLamp.Item2)" ButtonLampGetter="@_buttonLampGetter" />

        <WgtGridPbLamp Text="Ready"    DataItem="@(_system.ReadyPushLamp)"     ButtonLampGetter="@_buttonLampGetter" />
        <WgtGridPbLamp Text="Drive"    DataItem="@(_system.DrivePushLamp)"     ButtonLampGetter="@_buttonLampGetter" />
        <WgtGridPbLamp Text="Home"     DataItem="@(_system.HomePushLamp)"      ButtonLampGetter="@_buttonLampGetter" />
        <WgtGridPbLamp Text="Clear"    DataItem="@(_system.ClearPushLamp)"     ButtonLampGetter="@_buttonLampGetter" />
        <WgtGridPbLamp Text="Stop"     DataItem="@(_system.StopPushLamp)"      ButtonLampGetter="@_buttonLampGetter" />
        <WgtGridPbLamp Text="Em Stop"  DataItem="@(_system.EmergencyPushLamp)" ButtonLampGetter="@_buttonLampGetter" />
        <WgtGridPbLamp Text="Test"     DataItem="@(_system.TestPushLamp)"      ButtonLampGetter="@_buttonLampGetter" />
        </p>

    <CompHmiFlowTable Flows="@_system.Flows"/>
    </div>
}


@code {
    HMIPushLamp _buttonLampGetter(object dataItem) => (HMIPushLamp)dataItem;

    // protected override async Task OnInitializedAsync()
    // {
    //     await base.OnInitializedAsync();
    // }
    public void Dispose()
    {
        Console.WriteLine($"Disposing PageHmiAuto.razor");
    }
}