@* PageHmiAuto *@

@page "/hmis/auto"

<CompTooltipInlineHidden>
    <NormalContent>
        <CompTitle Icon="oi oi-bolt" Title="자동 조작" />
    </NormalContent>
    <TooltipContent>
        <RadzenAlert AlertStyle="AlertStyle.Info" Variant="Variant.Flat" Icon="auto_awesome" Shade="Shade.Lighter">
            <RadzenText TextStyle="TextStyle.H6" style="color: var(--rz-on-info-lighter);">자동 조작</RadzenText>
            <p> Clear > Ready 후, Auto 나 Manual 누르면 선택 확인</p>
        </RadzenAlert>
    </TooltipContent>
</CompTooltipInlineHidden>

@using System.Collections.ObjectModel
@using DsWebApp.Client.Pages.Controllers
@using Engine.Core
@using static Engine.Core.TagWebModule
@inherits CompHmiLoader
@attribute [Authorize(Roles = "Administrator")]

@* https://supportcenter.devexpress.com/ticket/details/t1017286/datagrid-for-blazor-how-to-set-the-100-height *@
<CompFullScreenManager FullScreenElementId="auto" />      @* FullScreenStateChanged="@onFullScreenStateChanged" *@
<CompHmiTagManager @ref="TagManager" OnLoaded="@(() => _tagManagerLoading=false)" />

@if (_loading || _tagManagerLoading || _localLoading)
{
    <p><em>Loading...</em></p>
}
else
{
    <CompModelCpuMonitor OnModelChanged="onModelChanged"
                         OnCpuRunningStatusChanged="onCpuRunningStatusChanged" />

    Console.WriteLine($"--------------------- TagManager={TagManager}");
    <CascadingValue Name="TagManager" Value="@TagManager">
        <DxLoadingPanel Visible=!_isCpuRunning
                Text="Wait CPU running..."
                IsContentBlocked="true"
                CssClass="w-100"
                ApplyBackgroundShading="true">

            <div id="auto">
                <p>
                    <div class="ds-inline">
                        <AutoManualSelector Selector="_system.AutoManualSelectLamp" />
                    </div>
                    <div class="ds-inline">
                        <ButtonLamp Text="Ready" Composite="@(_system.ReadyPushLamp)" />
                    </div>
                    <div class="ds-inline">
                        <ButtonLamp Text="Drive" Composite="@(_system.DrivePushLamp)" />
                    </div>
                    <div class="ds-inline">
                        <ButtonLamp Text="Home" Composite="@(_system.HomePushLamp)" />
                    </div>
                    <div class="ds-inline">
                        <ButtonLamp Text="Clear" Composite="@(_system.ClearPushLamp)" />
                    </div>
                    <div class="ds-inline">
                        <ButtonLamp Text="Pause" Composite="@(_system.PausePushLamp)" />
                    </div>
                    <div class="ds-inline">
                        <ButtonLamp Text="Em Stop" Composite="@(_system.EmergencyPushLamp)" />
                    </div>
                    <div class="ds-inline">
                        <ButtonLamp Text="Test" Composite="@(_system.TestPushLamp)" />
                    </div>
                </p>

                <CompHmiFlowTable Flows="@_system.Flows" />
            </div>
        </DxLoadingPanel>

    </CascadingValue>
}


@code {
    bool _tagManagerLoading = true;
    bool _localLoading = true;
    public CompHmiTagManager TagManager {get; set; }
    bool _isCpuRunning => ClientGlobal.IsCpuRunning;
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await ClientGlobal.InitializeAsync(Http, NavigationManager, LocalStorage);
        _localLoading = false;
    }

    void onModelChanged(string modelDsZipPath)
    {
        Console.WriteLine($"--------------------- modelDto={modelDsZipPath}");
        ToastService.ShowInfo("Model changed.");
        StateHasChanged();
    }
    void onCpuRunningStatusChanged(bool isCpuRunning)
    {
        Console.WriteLine($"--------------------- isCpuRunning={isCpuRunning}");
        ToastService.ShowInfo("Cpu running status changed.");
        StateHasChanged();
    }
}

