@* PageHmiAuto *@

@page "/hmis/auto"
<h3>자동 조작</h3>

@using System.Collections.ObjectModel
@using Engine.Core
@using static Engine.Core.TagWebModule
@using HMIButton = Tuple<Engine.Core.TagWebModule.TagWeb, Engine.Core.TagWebModule.TagWeb>  @* HMIPush * HMIFlickerLamp *@
@inherits CompHmiLoader
@implements IDisposable
@attribute [Authorize(Roles = "Administrator")]


@if (_loading)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>
        <WgtPb Text="Auto"     DataItem="@(_system.GetAuto())"     TagGetter="@_tagGetter" />
        <WgtPb Text="Manual"   DataItem="@(_system.GetManual())"   TagGetter="@_tagGetter" />

        <WgtPb Text="Ready"    DataItem="@(_system.ReadyPush)"     TagGetter="@_tagGetter" />
        <WgtPb Text="Drive"    DataItem="@(_system.DrivePush)"     TagGetter="@_tagGetter" />
        <WgtPb Text="Home"     DataItem="@(_system.HomePush)"      TagGetter="@_tagGetter" />
        <WgtPb Text="Clear"    DataItem="@(_system.ClearPush)"     TagGetter="@_tagGetter" />
        <WgtPb Text="Stop"     DataItem="@(_system.StopPush)"      TagGetter="@_tagGetter" />
        <WgtPb Text="Em Stop"  DataItem="@(_system.EmergencyPush)" TagGetter="@_tagGetter" />
        <WgtPb Text="Test"     DataItem="@(_system.TestPush)"      TagGetter="@_tagGetter" />
    </p>

    <CompHmiFlowTable Flows="@_system.Flows"/>
}


@code {
    TagWeb _tagGetter(object dataItem) => (TagWeb)dataItem;
    // protected override async Task OnInitializedAsync()
    // {
    //     await base.OnInitializedAsync();
    // }
    public void Dispose()
    {
        Console.WriteLine($"Disposing PageHmiAuto.razor");
    }
}