<nav class="navbar header-navbar p-0">
    <button class="navbar-toggler bg-primary d-block" @onclick="OnToggleClick">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="ms-3 fw-bold title pe-4">듀얼소프트 웹</div>

    <div class="ms-auto">
        @if (ClientGlobal.UserSession == null || !_authenticated)
        {
            <a class="link-with-underline" data-toggle="modal" data-target="#loginModal">Login</a>
            Console.WriteLine($"_authenticated={_authenticated}, ClientGlobal.UserSession={ClientGlobal.UserSession}");
        }
        else
        {
            var user = ClientGlobal.AuthenticationState?.User;
            if (user == null)
            {
                Console.Error.WriteLine($"ClientGlobal.AuthenticationState={ClientGlobal.AuthenticationState}, user={ClientGlobal.AuthenticationState?.User}");
            }
            else
            {
                var name = user.Identity?.Name;
                if (name.NonNullAny())
                    name = $"({name})";

                <a @onclick="logout" href="javascript:void(0)">Logout @name</a>
                <sapn>&nbsp;</sapn>

                var isAdmin = user.Claims?.Where(c => c.Value == "Administrator").Any();//.Select(c => c.Value).Join(", ");
                if (isAdmin.HasValue && isAdmin.Value)
                {
                    <a @onclick="@onClickBell" @onclick:preventDefault href="#">
                        <span class="oi oi-bell" />
                    </a>
                    <sapn>&nbsp;</sapn>
                }

                <a @onclick="@onClickSetting" @onclick:preventDefault href="#">
                    <span class="oi oi-cog" />
                </a>
            }
        }
        &nbsp;&nbsp;
    </div>
</nav>

@code {
    [Parameter] public bool ToggleOn { get; set; }
    [Parameter] public EventCallback<bool> ToggleOnChanged { get; set; }

    async Task OnToggleClick() => await Toggle();

    async Task Toggle(bool? value = null) {
        var newValue = value ?? !ToggleOn;
        if(ToggleOn != newValue) {
            ToggleOn = newValue;
            await ToggleOnChanged.InvokeAsync(ToggleOn);
        }
    }
}





@*
 * ------------------------------------------------------------
 *  Login 처리 구현부 시작
 * ------------------------------------------------------------
*@
@* @inherits HeaderRazorBase : 상속으로 구현할 경우, 동작하지 않음.  *@

@using Dual.Common.Core
@using Dual.Web.Blazor.Auth
@using Dual.Web.Blazor.Client.Auth
@using Dual.Web.Blazor.Client.Theme
@using System.Net
@using Theme = Dual.Web.Blazor.Client.Theme.Theme

<CompSessionLogin />
@if (_theme != Theme.Undefined)
{
    <CompThemeSwitcher Theme="@_theme" />
}

<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" class="form-control" id="username" name="username" @bind="_loginRequest.UserName" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" name="password" @bind="_loginRequest.Password" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="@(() => authenticate())">Login</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    function closeModal(modalSelector) {
        $(modalSelector).modal('hide');
    }
</script>
<style>
    .link-with-underline {
        text-decoration: underline;
        color: #007bff;
        cursor: pointer;
    }
</style>

@code {
    protected async Task logout()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)AuthenticationStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(null);
        NavigationManager.NavigateTo("/", true);
    }

    Theme _theme;
    protected bool _authenticated = false;
    protected override async Task OnInitializedAsync()
    {
        _theme = await LocalStorage.GetItemAsync<Theme>("Theme");
        await ClientGlobal.InitializeAsync(Http, NavigationManager, LocalStorage);
        if (ClientGlobal.ServerSettings == null)
            Console.Error.WriteLine("Error: ServerSettings is null.");

        if (await AuthenticationStateProvider.SetAuthHeaderAsync(Http))
        {
            RestResult<bool> result = await Http.GetRestResultAsync<bool>("api/auth/check");
            Console.WriteLine($"Result={result}, IsOK={result.IsOk}, Ok={result.Value}, Err={result.Error}");
            result.Iter(
                ok => _authenticated = ok,
                err => { });
        }
    }
    protected LoginRequest _loginRequest = new();
    protected async Task authenticate()
    {
        // Console.WriteLine($"Got UserName={_loginRequest.UserName}, Pwd={_loginRequest.Password}");
        var loginResponse = await Http.PostAsJsonAsync<LoginRequest>("/api/auth/login", _loginRequest);
        // Console.WriteLine($"Requesting Login: {_loginRequest.UserName}/{_loginRequest.Password} : {loginResponse.IsSuccessStatusCode}");

        if (loginResponse.IsSuccessStatusCode)
        {
            _authenticated = true;
            var userSession = await loginResponse.Content.ReadFromJsonAsync<UserSession>();
            var customAuthStateProvider = (CustomAuthenticationStateProvider)AuthenticationStateProvider;
            await customAuthStateProvider.UpdateAuthenticationState(userSession);
            await JsRuntime.InvokeVoidAsync("closeModal", "#loginModal");
            await JsRuntime.InvokeVoidAsync("location.reload");     // 우측 Login/Logout update 를 위해서 강제로 페이지 refresh
            return;
        }
        if (loginResponse.StatusCode == HttpStatusCode.Unauthorized)
            await JsRuntime.InvokeVoidAsync("alert", "Invalid User Name or Password");
        else
            await JsRuntime.InvokeVoidAsync("alert", $"Login failed with code: {loginResponse.StatusCode}");
    }

    void onClickBell()
    {
        ToastService.ShowInfo("onClickBell");
        NavigationManager.NavigateTo("/etc/augmentdatabase");
    }
    void onClickSetting() => NavigationManager.NavigateTo("/etc/pageclientsettings");
}
@*
 * ------------------------------------------------------------
 *  Login 처리 구현부 끝
 * ------------------------------------------------------------
*@

