@* PageController *@
@page "/controllers/controller"

@using System.Collections.ObjectModel
@using System.Text.Json


@attribute [Authorize(Roles = "Administrator,User")]
@implements IDisposable

<CompTitle Icon="oi oi-puzzle-piece" Title="제어" />

@if (_loading)
{
    <p><em>Loading...</em></p>
}
else
{

@*     <CompModelCpuMonitor
        OnModelChanged="@(zipPath => StateHasChanged())"
                         OnCpuRunningStatusChanged="@(isCpuRunning => StateHasChanged())" />
 *@
    @if (ClientGlobal.ModelDsZipPath == null)
    {
        <ul>No model on server.</ul>
    }
    else
    {
        <CompModelCpuMonitor OnModelChanged="OnModelChanged"
                             OnCpuRunningStatusChanged="OnCpuRunningStatusChanged" />
        <ul>SourceDsZipPath: @ClientGlobal.ModelDsZipPath</ul>
        <ul>Cpu Running: @_isRunning</ul>

        <button class="btn btn-primary" @onclick="Run" disabled="@_isRunning">Run</button>
        <button class="btn btn-primary" @onclick="Stop" disabled="@(!_isRunning)">Stop</button>
        <button class="btn btn-primary" @onclick="Step" disabled="@(!_isRunning)">Step</button>
        <button class="btn btn-primary" @onclick="Reset" disabled="@(!_isRunning)">Reset</button>

        <br/>
        @if (_cgs != null)
        {
            <CompEnumSelector Title="Runtime Package: " TEnum="RuntimePackageCs"
                              Disabled="@_isRunning"
                              @bind-Value="RuntimePackage" />
        }
    }
}





@code {
    bool _loading = true;
    bool _isRunning => ClientGlobal.IsCpuRunning;
    RuntimeModelDto _modelDto;
    CompositeDisposable _disposables = new();

    ServerSettings _cgs => ClientGlobal.ServerSettings;
    RuntimePackageCs RuntimePackage {
        get => _cgs.RuntimePackageCs;
        set
        {
            var old = _cgs.RuntimePackageCs;
            if (old != value)
            {
                _cgs.RuntimePackageCs = value;
                // api 를 통해 ServerGlobal.ReloadRuntimeModel() 호출
                reloadModel().Wait();
            }
        }
    }
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        // var result = await ClientGlobal.GetModelDtoAsync(Http);
        // result.Iter(
        //     ok =>
        //     {
        //         _modelDto = ok;
        //         // _isRunning = _modelDto.IsCpuRunning;
        //     },
        //     err => Console.WriteLine($"Failed to get model. {err}")
        // );


        // var action = new Action<RuntimeModelDto>(modelDto => { _modelDto = modelDto; StateHasChanged(); });
        // IDisposable subscription = await ClientGlobal.MonitorModelChangeAsync(NavigationManager, Http, action);
        // _disposables.Add(subscription);

        StateHasChanged();
        _loading = false;
    }
    public void Dispose() => _disposables.Dispose();

    async Task executeRestApi(string api, string defaultOkMessage)
    {
        if (await AuthenticationStateProvider.SetAuthHeaderAsync(Http))
        {
            ResultSerializable<string, ErrorMessage> result = await Http.GetResultSimpleAsync<string>(api);
            Console.WriteLine($"Result={result}, IsOK={result.IsOk}, Ok={result.Value}, Err={result.Error}");
            string message = 
                result.Match(
                    (ok) => $"OK: {ok}\r\n{defaultOkMessage}",
                    (err) => $"Failed to call [{api}].\r\n{err}"
                );
            await JsDual.Alert(message);
        }
        else
            NavigationManager.NavigateTo("/toplevel/login");
    }

    void OnModelChanged(string modelDsZipPath)
    {
        Console.WriteLine($"Model change detected on signalR: {ClientGlobal.ModelDsZipPath}");
        StateHasChanged();
    }
    void OnCpuRunningStatusChanged(bool cpuRunningStatus)
    {
        Console.WriteLine($"CPU running state change detected on signalR: {ClientGlobal.IsCpuRunning}");
        StateHasChanged();
    }

    async Task Run()
    {
        await executeRestApi($"api/cpu/command/run", "Cpu running.");
    }
    async Task Stop()
    {
        await executeRestApi($"api/cpu/command/stop", "Cpu stopped.");
    }

    async Task Step()
    {
        await executeRestApi($"api/cpu/command/step", "Cpu step'ed.");
    }

    async Task Reset()
    {
        await executeRestApi($"api/cpu/command/reset", "Cpu reset'ed.");
    }

    async Task reloadModel()
    {
        await executeRestApi($"api/cpu/command/reload-model", "Model reloaded.");
    }

}
