@page "/demo/testhmitag"

@using Dual.Web.Blazor.ServerSide
@using IO.Core
@using DevExpress.DirectX.Common.Direct2D



<EditForm Model="@_tagWeb" OnValidSubmit="@HandleSubmit">
    <InputText @bind-Value="@_tagWeb.Name" />
    <InputNumber @bind-Value="@_tagWeb.Kind" />
    <InputCheckbox @bind-Value="@_flag" />
    <button type="submit">제출</button>
</EditForm>



<h3>Hmi Tag Test</h3>

@code {
    // string _name;
    // int _kind;
    bool _flag;
    TagWeb _tagWeb = new("", false, 0);

    private async Task HandleSubmit()
    {
        TagWeb tagWeb = new(_tagWeb.Name, _flag, _tagWeb.Kind);
        Console.WriteLine($"TagWeb: Name={tagWeb.Name}, Kind={tagWeb.Kind}");
        var response = await Http.PostAsJsonAsync("api/model/tag", tagWeb);
        response.EnsureSuccessStatusCode();
        string responseBody = await response.Content.ReadAsStringAsync();
        bool result = Convert.ToBoolean(responseBody);
        Console.WriteLine($"Submit result: {result}");
    }

    HubConnection _hubConnection;
    IDisposable _subscription;

    protected override async Task OnInitializedAsync()
    {
        _hubConnection = await NavigationManager.ToAbsoluteUri("/hub/hmitag").StartHubAsync();
        _subscription =
            _hubConnection.On<TagWeb>(SK.S2CNTagWebChanged, async (TagWeb change) =>
            {
                // todo : NOT working!!
                Console.WriteLine($"TagWeb change notification received with {change.Name}/{change.Kind}={change.Value}.");
            });

        await base.OnInitializedAsync();
    }

}
