@page "/demo/testhmitag"

@using Dual.Web.Blazor.ServerSide
@using IO.Core
@using DevExpress.DirectX.Common.Direct2D
@implements IAsyncDisposable


<EditForm Model="@_tagWeb" OnValidSubmit="@HandleSubmit">
    <InputText @bind-Value="@_tagWeb.Name" />
    <InputNumber @bind-Value="@_tagWeb.Kind" />
    <InputCheckbox @bind-Value="@_flag" />
    <button type="submit">제출</button>
</EditForm>


<br />
<br />
<button class="navbar-toggler bg-primary d-block" title="send any" @onclick="onTestSignalR">
    <span class="navbar-toggler-icon"></span>
    Send Any
</button>


<h3>Hmi Tag Test</h3>

@code {
    HubConnectionManager _hubConnectionManager;

    // string _name;
    // int _kind;
    bool _flag;
    TagWeb _tagWeb = new("my.STN01.WORK1", false, 11018, "");

    private async Task HandleSubmit()
    {
        if (await AuthenticationStateProvider.SetAuthHeaderAsync(Http))
        {
            TagWeb tagWeb = new(_tagWeb.Name, _flag, _tagWeb.Kind, _tagWeb.KindDescription);
            var result = await Http.PostAsJsonGetRestResultStringAsync("api/hmi/tag", tagWeb);
            var msg = result.IsOk ? "OK" : result.Error;
            Console.WriteLine($"Submit result: {msg}");
        }
        else
            NavigationManager.NavigateTo("/toplevel/login");
    }


    protected override async Task OnInitializedAsync()
    {
        HubConnection hubConnection = await NavigationManager.ToAbsoluteUri("/hub/hmi/tag").StartHubAsync();
        _hubConnectionManager = new HubConnectionManager(hubConnection, registerHubConnection);

        Console.WriteLine($"Hub initialized on PageHmiTagTest.razor");
        await base.OnInitializedAsync();

        IDisposable registerHubConnection(HubConnection hubConnection)
        {
            return hubConnection.On<TagWeb>(SK.S2CNTagWebChanged, (TagWeb change) =>
            {
                Console.WriteLine($"TagWeb change notification received with {change.Name}/{change.Kind}/{change.KindDescription}={change.Value}.");
                StateHasChanged();
            });
        }
    }

    public async ValueTask DisposeAsync()
    {
        await _hubConnectionManager.DisposeAsync();
        Console.WriteLine("PageHmiTagTest.razor disposed!");
    }

    async Task onTestSignalR()
    {
        if (await AuthenticationStateProvider.SetAuthHeaderAsync(Http))
        {
            var serializedObject = "{\"RawValue\":false,\"Type\":1}";
            var result = await Http.PostAsJsonGetRestResultStringAsync($"api/hmi/tag/Hello/9999", serializedObject);
            var msg = result.IsOk ? "OK" : result.Error;
            Console.WriteLine($"SendAny result: {msg}");
        }
        else
            NavigationManager.NavigateTo("/toplevel/login");
    }
}
