@page "/demo/widget"
<h3>Widget Test</h3>

<DxButton Text="Hello" Click="@(() => { ToastService.ShowInfo("Clicked");})" />
<CompWgtPbWithLamp Text="ToggleMe Lamp" IsOn="@true" Click="@(() => { ToastService.ShowInfo("Clicked");})" @ref="_toggleRef"/>
<DxButton Text="ON" Click="@(() => {_toggleRef.SetState(true);})" />
<DxButton Text="OFF" Click="@(() => {_toggleRef.SetState(false);})" />

<h4>RGFH lamp</h4>
<ComWgtLampRGFH Text="RGFH" Status4="@Status4.Ready" @ref="_rgfhRef">
</ComWgtLampRGFH>
<DxButton Text="Ready" Click="@(async () => { await _rgfhRef.SetStatus4Async(Status4.Ready);})" />
<DxButton Text="Going" Click="@(async () => { await _rgfhRef.SetStatus4Async(Status4.Going);})" />
<DxButton Text="Finish" Click="@(async () => { await _rgfhRef.SetStatus4Async(Status4.Finish);})" />
<DxButton Text="Homing" Click="@(async () => { await _rgfhRef.SetStatus4Async(Status4.Homing);})" />

@code {
    ComWgtLampRGFH _rgfhRef;
    CompWgtPbWithLamp _toggleRef;
}
