@page "/demo/theme-switcher"
@using Dual.Web.Blazor.Client.Theme
@inject ILocalStorageService localStorage
<h3>PageThemeTest</h3>

@* <CompThemeSwitcher Theme="@(Theme.BootstrapLumen)" @ref="_themeSwitcherRef" /> *@
<CompThemeSwitcher @ref="_themeSwitcherRef" />

<button @onclick="@(() => changeTheme(Theme.DevExpressDark))">Dark Theme</button>
<button @onclick="@(() => changeTheme(Theme.DevExpressBerry))">Berry Theme</button>
<button @onclick="@(() => changeTheme(Theme.DevExpressPurple))">Purple</button>
<button @onclick="@(() => changeTheme(Theme.DevExpressWhite))">Light Theme</button>
<button @onclick="@(() => changeTheme(Theme.BootstrapLumen))">Lumen</button>

@code {
    CompThemeSwitcher _themeSwitcherRef;
    async Task changeTheme(Theme theme) {
        await localStorage.SetItemAsync("Theme", theme);
        await _themeSwitcherRef.ChangeTheme(theme);
    }
}
