@page "/"

<h2 class="pb-2">Dualsoft</h2>
<p class="pb-2 mw-1100">
    Fast automation solutions for your business.
</p>
<div class="pb-2 mw-1100">
    <img class="fit-width" src="images/banner.png" />
</div>

<h2 class="mb-4 mt-4">Helpful Resources</h2>

<ul>
@*     
    <li><a class="helplink" href="https://demos.devexpress.com/blazor/" target="_blank">Online Demos</a></li>
    <li><a class="helplink" href="https://github.com/DevExpress/Blazor/blob/master/examples.md" target="_blank">Examples</a></li>
    <li><a class="helplink" href="https://docs.devexpress.com/Blazor/400725/blazor-components" target="_blank">Documentation</a></li>
    <li><a class="helplink" href="https://www.devexpress.com/support/training/blazor/" target="_blank">Free Blazor Training Course</a></li>
 *@

    <li><a href="@($"{NavigationManager.BaseUri}controllers/controller")">제어</a></li>      @*target="_blank"*@
    <li><a href="@($"{NavigationManager.BaseUri}controllers/uploadmodel")">Upload</a></li>
    <li><a href="@($"{NavigationManager.BaseUri}hmis/hmi")">HMI</a></li>
    <li><a href="@($"{NavigationManager.BaseUri}dashboards/dashboard")">Dashboard</a></li>
    <li><a href="@($"{NavigationManager.BaseUri}demo/testio")">Test IO</a></li>

</ul>
