@* DsChartEfficiency *@
<RadzenChart>
    <RadzenDonutSeries Data="@PopData"
                       CategoryProperty="@nameof(CategoryItem.CategoryName)"
                       ValueProperty="@nameof(CategoryItem.Value)"
                       Fills="@EfficiencyPop.FillColors">
        <TitleTemplate>
            <div class="rz-donut-content">
                @InnerTitle
            </div>
        </TitleTemplate>
        <TooltipTemplate Context="data">
            <div>
                <span>@data.Category</span>:
                <strong>@data.Value</strong>
                <div class="text-black">
                    <a class="link-with-underline">Show details</a>     @* onclick="@(() => DetailClicked?.Invoke(this, @data.Category))" *@
                </div>
            </div>
        </TooltipTemplate>

    </RadzenDonutSeries>
</RadzenChart>
@code {
    [Parameter] public CategoryItem[] PopData { get; set; }
    [Parameter] public string InnerTitle { get; set; }

}
